<h1><%= @post.id %>번째 글</h1>
<p>제목 : <%= @post.title %></p>
<p>내용 : <%= @post.content %></p>
<p>작성일자 : <%= @post.created_at %></p>

<form action="/posts/<%= @post.id %>/comment">
    <input type="text" name="content">
    <input type="submit">
</form>

<hr>
<% @post.comments.each do |c| %>
    <%= c. content %><br>
<% end %>